@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html[data-theme='light'] {
		.bg-page {
			@apply bg-indigo-500
		}

		.bg-modal {
			@apply bg-gray-100
		}

		.border-modal {
			@apply border-gray-100
		}

		.bg-modal-header {
			@apply bg-gray-200
		}

		.bg-btn-2 {
			@apply bg-gray-500 text-gray-100
		}

		.bg-btn-2:hover {
			@apply bg-gray-600 text-white
		}

		.bg-btn-3 {
			@apply bg-gray-500 text-gray-100
		}

		.bg-btn-3:hover {
			@apply bg-gray-600 text-white
		}

		.text-modal {
			@apply text-gray-900
		}

		.bg-container {
			@apply bg-white
		}

		.bg-task {
			@apply bg-gray-200
		}

		.border-task {
			@apply border-gray-300
		}

		.bg-task-completed {
			@apply bg-green-200
		}

		.border-task-completed {
			@apply border-green-300
		}

		.text-task {
			@apply text-gray-700
		}

		.text-task-completed {
			@apply text-green-800
		}

		.checkbox {
			@apply bg-white border-gray-300
		}

		.checkbox:checked {
			@apply bg-green-700 border-green-600
		}

		.input-task {
			@apply bg-white focus:bg-white border-slate-300 text-gray-700 focus:text-gray-700 focus:border-blue-600
		}

		.bg-themepicker {
			@apply bg-gray-300
		}

		.bg-themepicker:hover {
			@apply bg-gray-400
		}

		.border-themepicker {
			@apply border-gray-300
		}

		.border-themepicker:hover {
			@apply border-gray-400
		}

		.bg-themepicker-active {
			@apply bg-gray-300
		}

		.bg-themepicker-active:hover {
			@apply bg-gray-300
		}

		.border-themepicker-active {
			@apply border-blue-500
		}
	}

	html[data-theme='dark'] {
		.bg-page {
			@apply bg-blue-950
		}

		.bg-modal {
			@apply bg-slate-900
		}

		.border-modal {
			@apply border-slate-700/70
		}

		.bg-modal-header {
			@apply bg-slate-800
		}

		.bg-btn-2 {
			@apply bg-gray-900 text-gray-400
		}

		.bg-btn-2:hover {
			@apply bg-gray-700 text-white
		}

		.bg-btn-3 {
			@apply bg-gray-900 text-gray-400
		}

		.bg-btn-3:hover {
			@apply bg-gray-800 text-white
		}

		.text-modal {
			@apply text-white
		}

		.bg-container {
			@apply bg-slate-900
		}

		.bg-task {
			@apply bg-gray-800
		}

		.border-task {
			@apply border-gray-700/50
		}

		.bg-task-completed {
			@apply bg-emerald-900
		}

		.border-task-completed {
			@apply border-emerald-700/50
		}

		.text-task {
			@apply text-gray-400
		}

		.text-task-completed {
			@apply text-green-300
		}

		.checkbox {
			@apply bg-slate-600 border-slate-500
		}

		.checkbox:checked {
			@apply bg-green-700 border-green-600
		}

		.input-task {
			@apply bg-slate-600 focus:bg-slate-700 border-slate-500 text-white focus:text-gray-200 focus:border-blue-600
		}

		.bg-themepicker {
			@apply bg-gray-800
		}

		.bg-themepicker:hover {
			@apply bg-slate-700
		}

		.border-themepicker {
			@apply border-slate-800
		}

		.border-themepicker:hover {
			@apply hover:border-slate-700
		}

		.bg-themepicker-active {
			@apply bg-gray-800
		}

		.bg-themepicker-active:hover {
			@apply bg-gray-800
		}

		.border-themepicker-active {
			@apply border-blue-400
		}
	}
}

:root {
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

wrap-anywhere {
	overflow-wrap: anywhere;
}

*:focus {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}