@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

wrap-anywhere {
	overflow-wrap: anywhere;
}

*:focus {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.no-scroll {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
}