@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html[data-theme='light'] {
		--color-body: #5f72be;
		--color-container: #FFFFFF;

		/* Modal.svelte */
		--color-bg-modal: rgb(229 231 235);
		--color-text-modal: black;
		--color-close-modal: rgb(107 114 128);
		--color-close-modal-hover: rgb(75 85 99);
		--color-border-modal: rgb(107 114 128);

		/* Task.svelte */
		--color-task-text: rgb(55 65 81);
		--color-task-background: rgb(229 231 235);
		--color-task-border: rgb(209 213 219);
		--color-completed-background: rgb(187 247 208);
		--color-completed-border: rgb(134 239 172);
		--color-completed-task-text: rgb(22 101 52);
		--color-remove-button: rgb(107 114 128);
		--color-remove-button-hover: rgb(75 85 99);
		--color-remove-button-completed: rgb(107 114 128);
		--color-remove-button-completed-hover: rgb(75 85 99);
		--color-remove-text: rgb(243 244 246);

		/* TaskCreator.svelte */
		--color-input-bg: white;
		--color-input-bg-focus: white;
		--color-input-border: rgb(203 213 225);
		--color-input-text: rgb(55 65 81);
		--color-input-text-focus: rgb(55 65 81);
		--color-checkbox-bg: white;
		--color-checkbox-border: rgb(209 213 219);
	}

	html[data-theme='dark'] {
		--color-body: rgb(23 37 84);
		--color-container: rgb(15 23 42);

		/* Modal.svelte */
		--color-bg-modal: rgb(15 23 42);
		--color-text-modal: white;
		--color-close-modal: rgb(31 41 55);
		--color-close-modal-hover: rgb(55 65 81);
		--color-border-modal: rgb(51 65 85);

		/* Task.svelte */
		--color-task-text: rgb(156 163 175);
		--color-task-background: rgb(31 41 55);
		--color-task-border: rgb(55 65 81);
		--color-completed-background: rgb(6 78 59);
		--color-completed-border: rgb(4 120 87);
		--color-completed-task-text: rgb(134 239 172);
		--color-remove-button: rgb(17 24 39);
		--color-remove-button-hover: #303947;
		--color-remove-button-completed: rgb(17 24 39);
		--color-remove-button-completed-hover: rgb(31 41 55);
		--color-remove-text: rgb(156 163 175);

		/* TaskCreator.svelte */
		--color-input-bg: rgb(71 85 105);
		--color-input-bg-focus: rgb(51 65 85);
		--color-input-border: rgb(100 116 139);
		--color-input-text: white;
		--color-input-text-focus: rgb(229 231 235);
		--color-checkbox-bg: rgb(71 85 105);
		--color-checkbox-border: rgb(100 116 139);
	}

	.bg-modal {
		background: var(--color-bg-modal);
	}

	.border-modal {
		border-color: var(--color-border-modal)
	}

	.bg-modal-close {
		background: var(--color-close-modal);
	}

	.bg-modal-close:hover {
		background: var(--color-close-modal-hover);
	}

	.text-modal {
		color: var(--color-text-modal)
	}

	.bg-checkbox {
		background: var(--color-checkbox-bg);
	}

	.border-checkbox {
		border-color: var(--color-checkbox-border);
	}

	.text-input {
		color: var(--color-input-text);
	}

	.text-input:focus {
		color: var(--color-input-text-focus);
	}

	.border-input {
		border-color: var(--color-input-border);
	}

	.bg-input {
		background: var(--color-input-bg);
	}

	.bg-input:focus {
		background: var(--color-input-bg-focus);
	}

	.bg-body {
		background: var(--color-body);
	}

	.bg-container {
		background: var(--color-container);
	}

	.border-container {
		border-color: var(--color-container);
	}

	.text-completed {
		color: var(--color-completed-task-text);
	}

	.bg-completed {
		background: var(--color-completed-background);
	}

	.border-completed {
		border-color: var(--color-completed-border);
	}

	.bg-remove {
		background: var(--color-remove-button);
	}

	.bg-remove-completed {
		background: var(--color-remove-button-completed);
	}

	.bg-remove:hover {
		background: var(--color-remove-button-hover);
	}

	.bg-remove-completed:hover {
		background: var(--color-remove-button-completed-hover);
	}

	.text-remove {
		color: var(--color-remove-text);
	}

	.bg-task {
		background: var(--color-task-background);
	}

	.border-task {
		border-color: var(--color-task-border);
	}

	.text-task {
		color: var(--color-task-text);
	}
}

:root {
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

wrap-anywhere {
	overflow-wrap: anywhere;
}

*:focus {
	-webkit-tap-highlight-color: transparent;
	outline: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.no-scroll {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
}